<!DOCTYPE html>
<html>
  <head>
    <title>Vigdev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <h1>vigilant<b>development</b></h1>
          <br />
          <br />
        </a>
      </div>
    </nav>
  
  <%= yield %>
  </body>
</html>